<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherWise: Your Personal Weather Assistant</title>
</head>
<body>
    <nav>
    </nav>
    <form action="/" method="post">
        <div>
            <!-- <img id="weather-logo" src="/css/weather-2019-02-07.png" alt="image"> -->
            <input type="text" name="city-name" id="" placeholder="Search..."> <br><br>
            <label for="tempMeasure">Choose the Temperature Unit:</label>
            <select name="tempMeasure" id="">
                <option value="Celsius" selected>Celsius</option>
                <option value="Fahrenheit">Fahrenheit</option>
                <option value="Kelvin">Kelvin</option>
            </select>
            <br><br>
            <button type="submit">Get Info</button>
        </div>
    </form>